:root {
  --primary-color: #70497c;
  --text-color: #535353;
  --social-bg: #62625f;
  --button-donate: #518fe7;
}
@font-face {
  font-family: "TitilliumWebReg";
  src: url(../font/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "TitilliumWebBold";
  src: url(../font/TitilliumWeb-Bold.ttf);
}
@font-face {
  font-family: "Malaga";
  src: url(../font/MalagaNarrowItalic.otf);
}

* {
  box-sizing: border-box;
}

.header-wrapper {
  min-width: 1300px;
  min-height: 800px;
  margin: 0;
  padding: 70px 0 0 0;
  background: url(../img/header.png) no-repeat;
  background-size: contain;
}
.container {
  width: 1250px;
  margin: 0 auto;
  padding: 0;
  font-family: "TitilliumWebReg", serif;
  color: var(--text-color);
  position: relative;
}
.header-top {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.header-logo {
  margin: 0;
}
.header-nav {
  margin-left: 293px;
  margin-right: 50px;
}
.header-nav-list {
  display: flex;
  padding: 0;
}
.header-nav-list__item {
  margin-right: 26px;
  transition: all 0.2s linear;
}
/* hover */
.header-nav-list__item:hover {
  box-shadow: 0 2px 0 0 var(--primary-color);
}
.header-nav-list__link {
  text-decoration: none;
  font: 16px TitilliumWebReg, sans-serif;
  color: var(--text-color);
}
/*common style for button */
.button {
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: none;
  font: 16px TitilliumWebBold, sans-serif;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease-out;
}
.user-login {
  color: var(--primary-color);
}
.user-signup,
.user-option__create {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 0 0 15px;
}
.svg-login {
  width: 15px;
  height: 15px;
  fill: var(--primary-color);
  position: relative;
  top: 2px;
  left: -5px;
}
/* hover button*/
.user-login:hover {
  color: #70497c;
}
.user-login:hover .svg-login {
  transform: scale(1.2);
  left: -3px;
} 

/* MIDDLE PART OF HEADER */
.header-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title {
  color: var(--text-color);
  font-size: 60px;
  margin-bottom: 10px;
}
.header-desc {
  font-size: 30pt;
  margin: 0 0 65px;
}
.decorate {
  color: #f53d43;
}
.user-option {
  display: flex;
  align-items: center;
}
.user-option__create {
  padding: 15px 65px;
  border-radius: 50px;
  font-size: 18px;
  transition: all 0.3s linear;
}
.user-option__store {
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  display: inline-block;
  border-radius: 50%;
  margin-left: 22px;
  transition: all 0.3s linear;
}
/* hover */
.user-option__store:hover,
.user-option__create:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0px 2px #ffffff80;
  transition: all 0.3s linear;
}
.svg-option {
  width: 25px;
  height: 25px;
  fill: #fff;
  position: relative;
  top: 10px;
}
.appstore {
  left: 10px;
}
.gplay {
  left: 12px;
}

/* SOCIAL BOX FIXED */
.social-box-list {
  position: fixed;
  right: 20px;
  top: 165px;
}
.social-box__item {
  width: 20px;
  height: 20px;
  background-color: var(--social-bg);
  margin-bottom: 20px;
  border-radius: 3px;
  transition: all 0.2s linear;
}
.svg-social {
  width: 12px;
  height: 12px;
  fill: #fff;
  position: relative;
  left: 4px;
}
/* hover */
.social-box__item:hover {
  transform: translateX(-5px) scale(1.2);
  box-shadow: 5px 5px 3px #8a8a8a;
  transition: all 0.2s linear;
}
/* SECTION FEATURES */
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-list__item {
  flex-basis: 370px;
}
.features-list-wrap {
  padding: 5px 0 5px 65px;
}
.features-list__item:first-child .features-list-wrap {
  background: url(../img/shield.png) no-repeat left 50%;
}
.features-list__item:nth-child(2) .features-list-wrap {
  background: url(../img/lock.png) no-repeat left 50%;
}
.features-list__item:last-child .features-list-wrap {
  background: url(../img/key.png) no-repeat left 0;
}
.feautres-list__title {
  margin: 0;
}
.features-list__desc {
  margin: 0 0 15px 0;
}
.features-list__text {
  font-size: 14px;
  line-height: 22px;
}
.features-list__item:nth-child(2) {
  position: relative;
}
/* COMMON STYLE FOR PSEUDO STRIPE */
.features-list__item:nth-child(2)::before,
.slogan-button::before,
.slogan-button::after,
.who-help::before,
.who-help::after {
  position: absolute;
  content: "";
  background-color: #b9b9b9;
}
.features-list__item:nth-child(2)::before {
  top: -130px;
  left: -30px;
  height: 215px;
  width: 2px;
}
/* SECTION SLOGAN */
.section-slogan {
  margin-bottom: 30px;
}
.slogan-wrap {
  display: inline-block;
  width: 600px;
  text-align: right;
  margin-left: 230px;
}
.slogan-button {
  border: 1px solid #ccc;
  padding: 18px 30px;
  border-radius: 30px;
  font-size: 16px;
  color: var(--text-color);
  border-radius: 70px;
  position: relative;
  right: -31%;
  transition: all 0.2s linear;
}
.slogan-button::before {
  top: 49%;
  left: -1500px;
  width: 1500px;
  height: 2px;
  transition: all 0.3s linear;
}
.slogan-button::after {
  left: 50%;
  top: -450px;
  height: 450px;
  width: 2px;
  transition: all 0.3s linear;
}
/* hover */
.slogan-button:hover {
  background-color: var(--text-color);
  color: #fff;
  transition: all 0.2s linear;
}
.slogan-button:hover::before {
  left: -1520px;
  transition: all 0.3s linear;
}
.slogan-button:hover::after {
  top: -470px;
  transition: all 0.3s linear;
}
/* stripe with media logo */
.media {
  padding-left: 20px;
}
/* device image */
.device {
  background: url(../img/laptop.png) no-repeat 93% -9px,
    url(../img/back.png) no-repeat 19px 85px;
}

/* SLIDER */
.quote-box {
  width: 620px;
  font-family: "Malaga", sans-serif;
  display: flex;
  align-items: flex-start;
  margin: 73px 0 0 75px;
}
.quote-box__control {
  width: 20px;
  text-align: center;
  margin-right: 20px;
  padding-top: 10px;
}
.quote-box__slide {
  width: 600px;
  position: relative;
}
.slide__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.2s linear;
}
/* hide radio */
[type="radio"] {
  display: none;
}

.quote-box__control label {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  margin-bottom: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;
}
/* change style for active label */
.control-1:checked ~ .quote-box__control .control-item-1,
.control-2:checked ~ .quote-box__control .control-item-2,
.control-3:checked ~ .quote-box__control .control-item-3 {
  width: 15px;
  height: 15px;
  background-color: #000;
  transition: all 0.2s linear;
}
/* show quote slide */
.control-1:checked ~ .quote-box__slide .slide-1,
.control-2:checked ~ .quote-box__slide .slide-2,
.control-3:checked ~ .quote-box__slide .slide-3 {
  opacity: 1;
  transition: all 0.2s linear;
}
.cite {
  font-size: 25px;
  color: #000;
  margin: 0;
}
.author {
  font-size: 18px;
  color: var(--text-color);
}

/* DOWNLOAD BOX */
.download-box {
  width: 400px;
  margin: 180px auto 205px; 
  text-align: right;
}
.download-title {
  font-size: 36px;
  margin: 0; 
}
.download-desc { 
  margin-bottom: 40px;
}
 
/* UPGRADE BOX */
.upgrade-box {
  display: flex;
  width: 600px;
  margin: 0 auto 100px;
  flex-direction: column;
  text-align: center;
}
.upgrade-title{
  font-size: 36px;
  margin-bottom: 0;
}
.upgrade-desc{
  font-size: 26px;
}
.upgrade-choose{
  text-align: center;
}
.svg-upgrade {
  width: 23px;
  height: 23px;
  fill: #fff;
  position: relative;
  top: 5px;
  left: -3px;
}
.upgrade,
.donate {
  padding: 10px 35px;
  border-radius: 50px;
  line-height: 35px;
  transition: all 0.2s linear;

}
.upgrade {
  background-color: var(--primary-color);
  margin-right: 50px;
}
.donate {
  background-color: var(--button-donate);
}
/* hover */
.upgrade:hover,
.donate:hover,
.user-signup:hover{
  transform: translateX(-5px) scale(1.1);
  box-shadow: 3px 7px 7px 0px #8a8a8abf;
  transition: all 0.2s linear;
}
/* WHO HELP STRIPE */
.who-help {
  width: 895px;
  margin: 0 auto;
  position: relative;
}
.who-help__desc {
  text-align: right;
  padding: 10px;
}
.who-help::before {
  top: 0;
  right: 0;
  width: 1500px;
  height: 2px;
}
.who-help::after {
  top: 0;
  right: 0;
  width: 2px;
  height: 440px;
}
/* FOOTER */
.footer {
  min-height: 320px;
  padding-top: 50px;
  background: url(../img/footer.jpg) no-repeat;
  background-size: cover;
  font-size: 14px;
  position: relative;
}
.footer::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0b0b0bcc;
}
.footer-top-box {
  display: flex;
  text-align: right;
  align-items: flex-start;
  margin-bottom: 50px;
}
.footer-contact {
  text-align-last: left;
}
.footer-contact__link {
  font-weight: 600;
}
.footer-title,
.footer-contact__text {
  color: #fff;
  margin: 0 0 10px;
  line-height: 23px;
}
.footer-contact__text,
.footer-copyright {
  color: var(--primary-color);
  font-weight: 700;
}
.footer-list {
  margin-left: 150px;
}
.footer-list__item {
  position: relative;
  margin-bottom: 5px;
}
.footer-list__item::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -10px;
  width: 5px;
  height: 5px;
  background-color: #fff;
}
.footer-list__link,
.footer-social__link,
.footer-contact__link {
  color: #fff;
  text-decoration: none;
}
.footer-social__link {
  margin-right: 25px;
  position: relative;
}
.footer-social__link::after {
  content: "\002F";
  position: absolute;
  right: -15px;
  top: 4px;
}
/* hover */
.footer-list__link:hover,
.footer-social__link:hover,
.footer-contact__link:hover {
  text-shadow: 0 0 5px #fff;
}
